@media screen and (min-width: 360px) {

    /* ? Contenedor General */
    #ContenedorGeneralCarouselCards {
        /* border: 5px solid green; */
        min-height: 100vh;
        width: 100%;
        margin-top: 3rem;
        padding: .5rem;
    }

    /* ? Swiper Contenedor */
    #SwiperContenedor {
        /* border: 2px solid greenyellow; */
        min-height: 80vh;
        padding: .3rem;
    }

    /* ? Contenedor de las Cards */
    #SwiperCards {
        /* border: 2px solid slateblue; */
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /*? Contenedor Cuerpo de la cara */
    #ContenedorCuerpoCard {
        /* border: 2px solid red; */      
    }

    /*? Imagen Card */
    #ImagenCard {
        /*  border: 2px solid blue; */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* ? Titulo de la card */
    .TituloCard {
        /*   border: 2px solid mediumaquamarine; */
        align-self: flex-end;
        font-size: 16px;
        color: black;
        font-weight: bold;
        height: 4rem;
        margin-top: 10px;
    }

    /*? Descripcion de la cara */
    .DescripcionCard {
        /*  border: 2px solid chartreuse; */
        font-size: 13px;
        height: max-content;
        margin-top: 20px;
    }

    /* ? Precio de la card */
    .PrecioCard {
        font-size: 22px;
        font-weight: bold;
        color: var(--color--principal);
    }

    /* ? Contenedor Boton Card */
    #ContenedorBotonCard {
        background-color: var(--color--principal);
        width: 85%;
        height: 2.6rem;
        border-radius: 50px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 13.5px;
    }

    /* ? Contenedor Icono */
    #IconoAdd{
        font-size: 1.4rem;
    }
}