@media screen and (min-width: 360px) {

    /*? Contenedor Navbar  */
    #ContenedorNavbar {
        /*      border: 2px solid red; */
        min-height: 20vh;
        background-color: var(--color--principal);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    /*? Contenedor Logo Navbar */
    #ContenedorBrand {
        /*  border: 2px solid green; */
        margin-left: .6rem;
        margin-top: 1rem;
    }

    /*? Contenedor Barra de busqueda y Links */
    #ContenedorBarraBusqueda_LinksNavegacion {
      /*   border: 2px solid blue; */
        width: 80% !important;
        display: flex;
    }

    /* Barra de navegacion */
    #BarraNavegacion {
        /*  border: 2px solid red; */
        width: 100%;
    }

    /*? Contenedor Login y Contactos */
    #ContenedorLoggin_Contactos {
        /*  border: 2px solid yellow; */
        width: 20%;
        height: 100%;
    }

    /*? Contenedor Links Navegacion **/
    #ContenedorLinksNavegacion {
        /*    border: 2px solid red ; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top:1rem;
        padding: 2px;
    }

    /** Links inviduales **/
    #ContenedorLinksNavegacion span {
        cursor: pointer;
        background-color: #F7C133;
        padding: .6rem .7rem;
        border-radius: 50px;
        margin: 0rem .1rem 1rem 0rem;
        transition: .5s ease-in-out;
        font-size: 14px;

    }

    /** Links inviduales - Hover **/

    #ContenedorLinksNavegacion span:hover {
        color: rgb(148, 148, 148);
    }

    /** Logo Principal **/
    #LogoPrincipal {
        width: 7rem;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60%;
    }

    /*? Contenedor Contactos y Login - Ambos */
    #ContenedorLoggin_Contactos {
        /* border: 3px solid red; */
        display: inline-block;
        height: max-content;
        width: max-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .5rem;
        position: absolute;
        right: .5rem;
        top: 1rem;
    }


    /*? Boton Inciar Sesión */
    #BotonIniciarSesión,
    #BotonCarrito {
        /* border: 2px solid greenyellow; */
        background-color: var(--color--secundario);
        border-radius: 40px;
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

}

/* 1280px - Laptops */
@media screen and (min-width: 1280px) {

    /*? Contenedor Navbar  */
    #ContenedorNavbar {
        /*   border: 5px solid orangered; */
        height: 20vh;
        display: flex;
        flex-direction: row;
    }

    /*? Contenedor Logo Navbar */
    #ContenedorBrand {
        /* border: 2px solid green; */
        width: max-content;
        margin: 0;
        margin-left: 1rem;
    }

    /*? Contenedor Barra de busqueda y Links */
    #ContenedorBarraBusqueda_LinksNavegacion {
       /*  border: 2px solid blue; */
        width: 100%;
    }

    /*? Contenedor Login y Contactos */
    #ContenedorLoggin_Contactos {
       /*  border: 2px solid yellow; */
        width: 50%;
        height: 100%;
    }

    /*? Contenedor Links Navegacion **/
    #ContenedorLinksNavegacion {
        /* border: 2px solid red ; */
        display: inline-block;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 8rem;
        border-radius: 0px 0px 0px 30px;
        background-color: var(--color--principal);
        padding: 1rem;
        z-index: 10;
    }

    /** Links inviduales **/
    #ContenedorLinksNavegacion span {
        cursor: pointer;
        background: none;
        font-size: 16.5px;
    }

    /** Links inviduales **/
    #ContenedorLinksNavegacion span:hover{
        color: var(--color--secundario);
    }

    /** Logo Principal **/
    #LogoPrincipal {
        width: 8.5rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60%;
    }

    /*? Contenedor Contactos y Login - Ambos */
    #ContenedorLoggin_Contactos {
  /*       border: 3px solid red; */
        width: max-content;
        height: max-content;
        gap: 1rem;
        margin: 1rem 1rem 0 0;
    }

    /*? Contenedor Contactos - INSTAGRAM - FACEBOOK - TWITTER */
    #ContenedorContactos {
        /* border: 2px solid forestgreen; */
        margin-top: 4rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    /*? Boton Inciar Sesión */
    #BotonIniciarSesión,
    #BotonCarrito {
        /* border: 2px solid greenyellow; */
        background-color: var(--color--secundario);
        border-radius: 40px;
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

}